extends layout

block content	
	ul(class="breadcrumbs")
		li 
			a(href="/") Inicio 				
		li(class="current")
			a(href="#") Agregar rol	
	div(class="row" ng-controller="roles")
		div(class="large-6 large-centered columns panel")
			h1 Agregar rol
			pr-exito
			pr-error
			form
				input(type="text" ng-model="rol.rol" value="rol.rol")
				div.clearfix					
					input(type="submit" class="button right" ng-click="addrol(rol)" value="Agregar rol")  
					a(href="/.." class="secondary button right") Volver
			ul.button-group
				li(ng-repeat="rol in roles")
					span(class="alert-box secondary")	{{rol.rol}}		