extends layout

block content
	nav(class="top-bar" data-topbar role="navigation")
		ul.title-area
			li.name
				h1
					a(href="/admin") Keep
			li(class="toggle-topbar menu-icon")
				a
					span Menu
		section.top-bar-section
			ul.right
				li
					a(href="/edit?id=#{idusuario}") Editar perfil
				li(class="active")
					a(href="/logout") Salir
	div(class="panel row")
		div(class="large-10 columns large-centered")
			div(class="large-4 columns")
				center
					a(href="/comentar")
						img(src="/images/have_question.png")   
				a(href="/comentar" class="button expand") PREGUNTAS				
			div(class="large-4 columns")
				center
					a(href="/screen")
						img(src="/images/go_ppt.png")
					a(href="/screen" class="button expand") IR A PRESENTACION
			div(class="large-4 columns")
				center
					a(href="/screen")
						img(src="/images/go_ppt.png")
					a(href="/edit/#{idusuario}" class="button expand") IR A PRESENTACION
