extends layout

block content
  #wrap-content(ng-controller="home")    
      unless user
        div(id="login" class="animated bounceInDown")
          img(src="/images/logo.png" class="logo-keep")
          form#form-login
            input(class="nice-input user" type="text" placeholder="Add the ID here" required)
            button(id="enter" class="nice-button" type="submit")
              i(class="fa fa-laptop")  Enter
            p or
            a(href="/auth/facebook")
              img(src="/images/login-facebook.png")
      else
        a(href="/logout" id="logout")
          i(class="fa fa-sign-out") Logout             
        div(id="login" class="animated bounceInDown")
          div#welcome-screen
            h1 Welcome
              strong #{user.displayName}          
            img(src="https://graph.facebook.com/#{user.id}/picture?type=large", id="profile-img", alt="#{user.displayName}")
            form#form-login
              input(class="nice-input user" type="text" placeholder="Type the ID here" required)
              button(id="enter" class="nice-button transition" type="submit")
                i(class="fa fa-laptop")  Enter
