doctype html
html
	head
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/animate.css')
		link(rel="shortcut icon" href="/images/logo.png")
		script(src="/javascripts/vendor/jquery.js")		
		script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js")  
		script(src="/socket.io/socket.io.js")
		script(src="/javascripts/script.js")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
	body
		block content
