body {
  background-image: url("../images/bgMain.jpg") !important;
  background-attachment: fixed;
  background-size: 100%;
}
* {
  box-sizing: border-box;
}
#login #profile-pic {
  border-radius: 50%;
  border: 3px solid #333;
}
#wrap-content {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.nice-input {
  width: 100%;
  padding: 15px;
  background-color: #f9f9f9;
  text-align: center;
  color: #222;
  border: 1px solid #333;
  outline: none;
}
.nice-input:hover {
  background-color: #f5f5f5;
}
.nice-button {
  background: #01d5f9;
  padding: 10px;
  width: 100%;
  border: 0;
  box-shadow: 3px 3px 0px #01afcd;
  color: #fff;
  font-size: 35px;
  margin: 15px 0px;
}
.nice-button:hover {
  background-color: #01afcd;
  box-shadow: 3px 3px 0px #01d5f9;
}
#logout {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  background-color: #1f1f1f;
  color: #fff;
}
#profile-img {
  border-radius: 50%;
  border: 3px solid #ff001e;
}
.transition {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
#login {
  width: 300px;
  margin: 0 auto;
  padding-top: 50px;
}
#login img {
  width: 100%;
}
#login #form-login p {
  text-align: center;
  font-size: 20px;
  margin: 5px 0px;
}
#welcome-screen {
  padding-top: 50px;
}
#welcome-screen h1 {
  color: #676767;
  margin: 0px 0px 15px 0px;
  font-size: 20px;
}
#welcome-screen h1 strong {
  color: #000;
  width: 100%;
  display: block;
  font-size: 25px;
}
#new-comment {
  padding: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  text-align: center;
}
#new-comment input[type="submit"] {
  width: 30%;
  padding: 30px;
  margin-top: 10px;
  font-size: 30px;
  outline: none;
}
#new-comment input[type="submit"]:hover {
  outline: none;
  background-color: #f5f5f5;
  border: 0px;
}
#new-comment a {
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
}
#new-comment textarea {
  border: 3px solid #d67d2a;
  width: 100%;
  height: 300px;
  resize: none;
  color: #f5f5f5;
  font-size: 50px;
  padding: 40px;
  font-family: 'Indie Flower', cursive;
  background: #206f38 url("../images/tools.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}
@media (max-width: 500px) {
  #login {
    width: 100%;
    padding: 0 15px;
    text-align: center;
  }
  #login .logo-keep {
    margin: 5px auto;
    width: 90%;
  }
  #new-comment input[type="submit"] {
    width: 100%;
    margin-bottom: 20px;
  }
  #new-comment a {
    display: block;
    width: 100%;
  }
}
